.hero {
	padding: 5em 0;

	.third {
		text-align: left;
	}

	.two-third {
		text-align: center;
	}

	h1, p{
	margin: 0;
	}
} // end hero

.services {
	padding-top: 30px;
	text-align: center;

		p {text-align: left;}

		img {
		height: 150px;
		margin: auto;
		} 
} // end services


.recent-blog {
	background: $grey;

	.row {
		width: 65%;
		}

		h2 {
			text-align: center;
		}

		.blog-post {
		background: white;
		padding: 2em 3em;
		margin-bottom: 2em;
		box-shadow: 0 2px 5px darken($grey, 20%);

		&:last-of-type {
		margin-bottom: 0;
		}

		h3 {
		margin-top: 0;
		margin-bottom: 0.5em;
		padding-bottom: 0.25em;
		border-bottom: 2px solid $light-blue;
		}

		p {
		font-size: 1.15em;
		width: 90%;
		margin-bottom: 2em;
		}

		.read-more {
			display: block;
			text-align: right;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 1.2em;
		} // read-more
	} // blog-post
} //recent-blog

