#colophon {
	background: blue-grey;
	color: dark-blue;

	footer.footer-nav {
	a {
          @include ease;
          color: $dark-blue;
          text-decoration: none;


          &:hover {
            color: #FFFFFF;
            text-decoration: none;
            } // hover 
          } // a
      }// nav
} // colophon