#masthead {
	background: $blue-grey;

	img {
	float: left;
	width: 200px;
	margin: 1em 0; 
	@include breakpoint (tablet) {
		float: none;
		width: 100%; }
	} // img

 .menu-main-navigation-container {
 float: right;
 
    li {
        list-style: none;
        display: inline-block;
        margin-right: 1em;
        
        
        &:last-of-type {
            margin-right: 0;  
        } // last

        a {
          @include ease;
          color: $dark-blue;
          text-decoration: none;


          &:hover {
            color: #FFFFFF;
            text-decoration: none;
            } // hover 
          } // a

    } // li

    @include breakpoint(tablet) {
        float: none;
        text-align: center;
      } // break

  } // container

  .menu-toggle {
    display: none;
  }

} //masthead